<h1>Confirm Delete</h1>
<div
  class="d-flex flex-column justify-content-center text-center align-items-center"
>
  <p class="lead">Are you sure you want to delete this meal kit?</p>
  <h2 class="my-3"><%= mealkit.name %></h2>
  <img
    src="<%= mealkit.imageUrl %>"
    alt="<%= mealkit.altText %>"
    class="img-fluid rounded mb-3"
    style="max-width: 500px; max-height: 500px"
  />
  <div style="text-align: left">
    <p><strong>Includes:</strong> <%= mealkit.includes %></p>
    <p><strong>Description:</strong> <%= mealkit.description %></p>
    <p><strong>Price:</strong> $<%= mealkit.price %></p>
    <p><strong>Category:</strong> <%= mealkit.category %></p>
    <p><strong>Cooking Time:</strong> <%= mealkit.cookingTime %> minutes</p>
    <p><strong>Servings:</strong> <%= mealkit.servings %></p>
  </div>
  <form action="/mealkits/remove/<%= mealkit._id %>" method="POST">
    <a href="/mealkits/list" class="link-btn1">Cancel</a>
    <button
      type="submit"
      class="btn btn-danger col-12 col-md-auto my-5 mx-md-auto"
      style="min-width: 200px"
    >
      Delete
    </button>
  </form>
</div>
